* {
    box-sizing: border-box;
}

.messages {
    width: 50%;
    height: 200px;
    border: 1px solid lightgrey;
    margin: 5px;
    padding: 40px;
}

.container {
    width: 60%;
    margin: 50px auto;
}